{{!-- header --}}
<div class="section no-pad-bot" id="index-banner">
    <div class="container">
        <br><br>
        <h1 class="header center lightseagreen-text">New Deals</h1>
        <div class="row center">
            <h5 class="header col s12 white-text light ">Find and save your favorite Slick Deals!</h5>
        </div>

        {{!-- search --}}
        <div class="row">
            <form class="col s12">
                <div class="row">
                    <div class="input-field col s12">
                        <textarea id="search-input" class="materialize-textarea textarea"></textarea>
                        <label for="search-input">Search item</label>
                    </div>
                </div>
            </form>
        </div>

        {{!-- buttons --}}
        <div class="row center">
            <a id="search-button" class="btn-large waves-effect waves-light white-text tooltipped" data-position="right"
                data-tooltip="Feeling Lucky?">Search Deals!
                <i class="material-icons right">
                    send
                </i>
            </a>
        </div>
        <div class="row center">
            <a id="clear-button" class="btn-small waves-effect waves-light white-text mb-4 tooltipped"
                data-position="right" data-tooltip="Clear Unsaved Results">Clear Results
                <i class="material-icons right">
                    delete_forever
                </i>
            </a>
        </div>


        {{!-- tap target --}}
        <div class="row">
            <a id="help-menu" class="waves-effect waves-light btn btn-floating tooltipped" data-position="right"
                data-tooltip="Need some help?" onclick="$('.tap-target').tapTarget('open')">
                <i class="material-icons">
                    help_outline
                </i>
            </a>

            <!-- Tap Target Structure -->
            <div class="tap-target cyan" data-target="help-menu">
                <div class="tap-target-content">
                    <h5 class="help-header mb-3">Need some help?</h5>
                    <ul class="help-text mb-4">
                        <li class="pb-1">
                            - Type an item to search
                        </li>
                        <li class="pb-1">
                            - Search results will persist
                        </li>
                        <li class="pb-1">
                            - Clearing the results will not affect your saved ones!
                        </li>
                        <li class="pb-1">
                            - Happy hunting!
                        </li>
                    </ul>
                    <br><br>
                </div>
            </div>

        </div>
    </div>
</div>

{{!-- tabs --}}
<div class="container">
    <ul id="tabs-swipe" class="tabs tabs-fixed-width mt-5">
        <li class="tab col s6">
            <a href="#results-swipe" class=".perfect-grey-color tooltipped" data-position="top"
                data-tooltip="All Search Results! Save The Best Deal!">
                Results
            </a>
        </li>
        <li class="tab col s6">
            <a href="#saved-swipe" class=".perfect-grey-color tooltipped" data-position="top"
                data-tooltip="Your Saved Deals!">
                Saved
            </a>
        </li>
    </ul>

    {{!-- progress bar --}}
    <div class="progress">
        <div class="indeterminate"></div>
    </div>

    {{!-- search output --}}
    <div id="results-swipe" class="col s12">
        {{#each dbDeals}}
        {{#unless this.isSaved}}
        <div class="row mt-4">
            <div class="col">
                <a href="{{this.link}}" class="mb-3">{{this.title}}</a>
                <p class="mt-4">Price: {{this.price}}</p>
                <p>Seller: {{this.store}}</p>
                <p>Popularity: {{this.rating}}</p>

                <a id="{{this._id}}" class="secondary-content saveItem" data-save-item="{{this._id}}">
                    <i class="small material-icons darkseagreen-color z-depth-1 tooltipped" data-position="top"
                        data-tooltip="Save">
                        save
                    </i>
                </a>

                <a class="waves-effect waves-light btn-small modal-trigger addNote" href="#note-modal-{{this._id}}"
                    data-save-item="{{this._id}}">Add Note</a>
                {{!-- modal --}}
                <!-- Modal Structure -->
                <div class="container modal-container">
                    <div id="note-modal-{{this._id}}" class="modal">
                        <div class="modal-content">
                            <div class="row">
                                <div id="notes-query" class="text-center">{{this.title}}</div>

                            </div>

                            <!-- text area -->
                            <div class="row">
                                <div class="input-field col s12">
                                    <i class="material-icons prefix">mode_edit</i>
                                    <textarea id="text-area-{{this._id}}"
                                        class="text-area materialize-textarea notes-textarea"
                                        data-save-item="{{this._id}}"></textarea>
                                    <label for="text-area-{{this._id}}">Seen at {{this.price}}</label>
                                </div>
                                <div class="modal-footer-fixed text-center mt-4">
                                    <a id="submit-note" class="modal-close waves-effect waves-green btn"
                                        data-save-item="{{this._id}}" data-item-price="{{this.price}}">Submit</a>
                                    <a id="cancel-note" href="#"
                                        class="modal-close waves-effect waves-red btn">Cancel</a>

                                </div>

                                <div class="container mt-5">
                                    <hr>
                                    <div class="notes-header m-4"></div>
                                    <div id="notes-{{this._id}}" class="notes-results"></div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
        <hr class="m-4 line">
        {{/unless}}
        {{/each}}
    </div>

    {{!-- saved output --}}
    <div id="saved-swipe" class="col s12">
        {{#each dbDeals}}
        {{#if this.isSaved}}
        <div class="row mt-4">
            <div class="col">
                <a href="{{this.link}}" class="mb-3">{{this.title}}</a>
                <p class="mt-4">Price: {{this.price}}</p>
                <p>Seller: {{this.store}}</p>
                <p>Popularity: {{this.rating}}</p>

                <a id="{{this._id}}" class="secondary-content removeItem" data-save-item="{{this._id}}">
                    <i class="small material-icons trash-color z-depth-1 tooltipped" data-position="top"
                        data-tooltip="Delete">
                        delete
                    </i>
                </a>
                <a class="waves-effect waves-light btn-small modal-trigger addNote" href="#note-modal-{{this._id}}"
                    data-save-item="{{this._id}}">Add Note</a>
            </div>
        </div>
        <hr class="m-4 line">
        {{/if}}
        {{/each}}
    </div>
</div>


<!--  Scripts-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.js"></script>
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="js/materialize.js"></script>
<script src="js/materialize.init.js"></script>
<script src="./js/tabs.materialize.js"></script>
<script src="./js/tooltip.materialize.js"></script>
<script src="./js/modal.materialize.js"></script>
<script src="./js/app.js"></script>